body{
    display: flex;
    font-family: 'Orbitron', sans-serif;
}

.mainParent{
    text-align: center;
}

.main {
    display: inline-block;
    min-width: 480px;
    max-width: 480px;
    height: 790px;
    position: absolute;
    background: rgba( 11, 211, 211, 0.50 );
    color: rgba(248,144,231, 2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#cityInput {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 30px;
}

#btn {
    background-color: rgb(52, 10, 235);
    color: white;
    border-radius: 5px;
}